
@{
    Layout = null;
}


@{
    Layout = null;
}

@model eCert.Models.ViewModel.CertificateViewModel

<p>@Model.CertificateName</p>
<p>@Model.DateOfIssue</p>
<p>@Model.DateOfExpiry</p>

<!--custom css-->
<!--<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/templateCertificate.css" />

<div class="row">-->
<!--Left content-->
<!--<div class="col-9">
    <div class="d-flex justify-content-center mt-5">
        <img src="logo-fpt-uni.jpg" />
    </div>
    <div class="mt-5" style="text-align: center;">
        <div style="color: #394761">
            <span class="pertetua-big">CERTIFICATE </span>
            <span style="font: italic normal normal 35px/32px Lucida Calligraphy;">of </span>
            <span class="pertetua-big">ACHIEVEMENT</span>
<head>
    <meta charset="utf-8" />
    <title>eCert - Electronic Certificate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content=""
          name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/certification-icon.png" />

    <!-- third party css -->
    <link href="/assets/css/vendor/dataTables.bootstrap4.css"
          rel="stylesheet"
          type="text/css" />
    <link href="/assets/css/vendor/responsive.bootstrap4.css"
          rel="stylesheet"
          type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/app.min.css"
          rel="stylesheet"
          type="text/css"
          id="light-style" />
    <!--custom css-->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/custom/templateCertificate.css" />
</head>



<div class="row">
    <!--Left content-->
    <div class="col-9">
        <div class="d-flex justify-content-center mt-5">
            <img src="~/Assets/images/custom/logo-fpt-uni.jpg" />
        </div>
        <div class="mt-5" style="text-align: center;">
            <div style="color: #394761">
                <span class="pertetua-big">CERTIFICATE </span>
                <span style="font: italic normal normal 35px/32px Lucida Calligraphy;">of </span>
                <span class="pertetua-big">ACHIEVEMENT</span>
            </div>
            <div class="mt-5 presented-to">This certificate is presented to: </div>
            <div class="mt-5 owner">Con lợn Hà - HE130576</div>
            <div class="mt-5 successfully">Has successfully completed the</div>
            <div class="mt-5 course">Project Management Project</div>
        </div>
        <div class="d-flex justify-content-between" style="padding-left: 20%; padding-right: 20%">
            <div class="signature-date">Date</div>
            <div class="signature-date">Signature</div>
        </div>
        <div class="mt-5 presented-to">This certificate is presented to: </div>
        <div class="mt-5 owner">Con lợn Hà - HE130576</div>
        <div class="mt-5 successfully">Has successfully completed the</div>
        <div class="mt-5 course">Project Management Project</div>
    </div>
<<<<<<< HEAD
    <div class="d-flex justify-content-between" style="padding-left: 20%; padding-right: 20%">
        <div class="signature-date">Date</div>
        <div class="signature-date">Signature</div>
    </div>
</div>-->
<!--Right content-->
<!--<div class="col-3">
        <img src="logo-fpt-edu.jpg" />
=======
    <!--Right content-->
    <div class="col-3">
        <img src="~/Assets/images/custom/logo-fpt-edu.jpg" />
>>>>>>> cdac795a19cbc369cb30a0d461ac70097a4128c9
    </div>
</div>-->
