@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eCert - Electronic Certificate</title>
    <!-- third party css -->
    <link href="/assets/css/vendor/dataTables.bootstrap4.css"
          rel="stylesheet"
          type="text/css" />
    <link href="/assets/css/vendor/responsive.bootstrap4.css"
          rel="stylesheet"
          type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/app.min.css"
          rel="stylesheet"
          type="text/css"
          id="light-style" />
    <!--Custom css-->
    <link href="~/assets/CSS/custom/landingPage.css"
          rel="stylesheet"
          type="text/css" />
</head>
<body>
    <div class="p-4">
        <div class="d-flex align-items-center">
            <img class=" col-2" src="~/Assets/images/custom/logo-fpt-edu-2.png" />
            <div class="d-flex col-3 ml-5 justify-content-between">
                <a href="#">Home</a>
                <a href="#">Verify Certifcate</a>
                <a href="/Authentication/Index">Login</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="d-flex align-items-center introduce">
            <div class="col-7">
                <div class="text-welcome">Welcome to <img src="~/Assets/images/custom_logo.png"/></div>
                <p>eCert is a powerful certificate management system, the activity of management, facilitating, and executing every certificate process necessary for education, making the management of certificates convenient and easy, saving much more time for Fpt's students</p>
                <p>eCert is sponsored by <span style="color:#F39C12">FPT Education</span></p>
            </div>
            <div class="col-5">
                <img src="~/Assets/images/startup.svg"/>
            </div>
        </div>
    </div>
</body>
</html>
