
@{
    Layout = null;
}

@model eCert.Models.Entity.Certificate

<p>Certificate name: @Model.CertificateName</p>
<p>Issuer: @Model.Issuer</p>
<p>Date of issues: @Model.DateOfIssue</p>
<p>Date of issues: @Model.DateOfExpiry</p>