<!-- third party css -->
<link href="/assets/css/vendor/dataTables.bootstrap4.css"
      rel="stylesheet"
      type="text/css" />
<link href="/assets/css/vendor/responsive.bootstrap4.css"
      rel="stylesheet"
      type="text/css" />
<!-- third party css end -->
<!-- App css -->
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="light-style" />
<link href="/assets/css/app-dark.min.css"
      rel="stylesheet"
      type="text/css"
      id="dark-style" />
<!--Custom css-->
<link href="~/assets/CSS/custom/listCertificate.css"
      rel="stylesheet"
      type="text/css" />
<!-- Home screen -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between p-2">
                    <div class="add-cert">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#compose-modal">
                            <i class="mdi mdi-plus-circle mr-2"></i>Add a certificate
                        </button>

                    </div>

                    <div class="export-all">
                        <button type="button" class="btn btn-light mb-2">
                            Export all certificates
                        </button>
                    </div>
                    <!-- end col-->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-custom">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-1">
                                    <img src="~/assets/images/custom/cert-course@2x.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="#" class="text-decoration-none text-black-50">
                                            <h5 class="card-title">WEB-BASED JAVA APPLICATION</h5>
                                        </a>
                                        <p class="card-text text-primary">Subject code: PRJ321</p>
                                        <p class="card-text"><small class="bg-info text-white type-cert">FPT University</small></p>
                                    </div> <!-- end card-body-->
                                </div> <!-- end col -->
                                <div class="col-md-3">
                                    <div class="row float-right mr-4">
                                        <button type="button" class="btn border border-primary mr-2 text-primary" data-toggle="modal" data-target="#compose-modal">
                                            Edit
                                        </button>
                                        <button type="button" class="btn border border-danger mr-2 text-danger">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end row-->
                        </div> <!-- end card-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-custom">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-1">
                                    <img src="~/assets/images/custom/cert-course@2x.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="#" class="text-decoration-none text-black-50"><h5 class="card-title">HTML, CSS & JAVASCRIPTS</h5></a>
                                        <a href="#" class="text-decoration-none text-black-50">
                                            <p class="card-text text-primary"><i class="uil-link-alt"></i>Link</p>
                                        </a>
                                        <p class="card-text"><small class="bg-success text-white type-cert">Personal's Certificate</small></p>
                                    </div> <!-- end card-body-->
                                </div> <!-- end col -->
                                <div class="col-md-3">
                                    <div class="row float-right mr-4">
                                        <button type="button" class="btn border border-primary mr-2 text-primary" data-toggle="modal" data-target="#compose-modal">
                                            Edit
                                        </button>
                                        <button type="button" class="btn border border-danger mr-2 text-danger">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end row-->
                        </div> <!-- end card-->
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-custom">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-1">
                                    <img src="~/assets/images/custom/cert-course@2x.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="#" class="text-decoration-none text-black-50"><h5 class="card-title">HTML, CSS & JAVASCRIPTS</h5></a>
                                        <a href="#" class="text-decoration-none text-black-50">
                                            <p class="card-text text-primary"><i class="uil-file-minus"></i>File</p>
                                        </a>
                                        <p class="card-text"><small class="bg-success text-white type-cert">Personal's Certificate</small></p>
                                    </div> <!-- end card-body-->
                                </div> <!-- end col -->
                                <div class="col-md-3">
                                    <div class="row float-right mr-4">
                                        <button type="button" class="btn border border-primary mr-2 text-primary" data-toggle="modal" data-target="#compose-modal">
                                            Edit
                                        </button>
                                        <button type="button" class="btn border border-danger mr-2 text-danger">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end row-->
                        </div> <!-- end card-->
                    </div>
                </div>

                <nav aria-label="..." class="d-flex justify-content-center">
                    <ul class="pagination mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>

                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="page-item"><a class="page-link" href="#">3</a></li>

                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->
</div>
<!-- Compose Modal -->
<div id="compose-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="compose-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="compose-header-modalLabel">Add Certificate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-3">
                <form class="p-1">
                    <div class="form-group mb-3">
                        <label for="simpleinput">Certificate Name</label>
                        <input type="text" id="simpleinput" class="form-control"
                               placeholder="Your certificate name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-textarea">Note</label>
                        <textarea class="form-control" id="example-textarea" rows="5"
                                  placeholder="Give some description about your certificate"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-textarea">Certificate type</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" onclick="handleClickRadio(this)" value="1"
                                   checked>
                            <label class="custom-control-label" for="customRadio1">Link</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" onclick="handleClickRadio(this)" value="2">
                            <label class="custom-control-label" for="customRadio2">File</label>
                        </div>
                    </div>
                    <div class="form-group mb-3 certificate_link">
                        <label for="simpleinput">Certificate link</label>
                        <input type="text" id="simpleinput" class="form-control"
                               placeholder="Link of your certificate">
                    </div>
                    <div class="form-group mb-3 certificate_file">
                        <label for="example-fileinput">Certificate file</label>
                        <input type="file" id="example-fileinput" class="form-control-file" accept=".pdf,.jpg,.png">
                    </div>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/assets/js/vendor.min.js"></script>
<script src="/assets/js/app.min.js"></script>

<script src="/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
<!-- third party js ends -->
<!-- demo app -->


<script src="/assets/js/vendor/jquery.dataTables.min.js"></script>
<script src="/assets/js/vendor/dataTables.bootstrap4.js"></script>
<script src="/assets/js/vendor/dataTables.responsive.min.js"></script>
<script src="/assets/js/vendor/responsive.bootstrap4.min.js"></script>
<script src="/assets/js/vendor/dataTables.checkboxes.min.js"></script>

<!-- demo app -->
<script src="/assets/js/pages/demo.products.js"></script>


<!-- custom js -->
<script src="~/assets/js/custom/addCertificate.js"></script>
<!-- custom js end -->
<script src="/assets/js/pages/demo.dashboard.js"></script>
