<div class="row justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center mb-4">Create Account Academic Service</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="simpleinput">Name</label>
                        <div class="d-flex">
                            <input type="text" id="simpleinput" class="form-control col-lg-3 mr-1">
                            <input type="text" id="simpleinput" class="form-control col-lg-3 mr-1">
                            <input type="text" id="simpleinput" class="form-control col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email">Email</label>
                        <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="mr-3" for="example-email">Gender</label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio3" name="customRadio1" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio3">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio4" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio4">Female</label>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="simpleinput">Phone number</label>
                        <input type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="example-date">Date</label>
                        <input class="form-control" id="example-date" type="date" name="date">
                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-primary">
                CREATE
            </button>
        </div>
    </div>
</div>



