@model eCert.Models.ViewModel.ImportExcel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Import Excel</h2>

<!-- File Upload -->
<form action="/Admin/ImportExcel" enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
      data-upload-preview-template="#uploadPreviewTemplate">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>

    <div class="dz-message needsclick">
        <i class="h1 text-muted dripicons-cloud-upload"></i>
        <h3>Drop files here or click to upload.</h3>
    </div>
</form>

<!-- Preview -->
<div class="dropzone-previews mt-3" id="file-previews"></div>

<!-- file preview template -->
<div class="d-none" id="uploadPreviewTemplate">
    <div class="card mt-1 mb-0 shadow-none border">
        <div class="p-2">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                </div>
                <div class="col pl-0">
                    <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                    <p class="mb-0" data-dz-size></p>
                </div>
                <div class="col-auto">
                    <!-- Button -->
                    <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                        <i class="dripicons-cross"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("ImportExcel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group mb-3">
        <label for="example-fileinput">Certificate file</label>
        @Html.TextBoxFor(model => model.File, new { type = "file", accept = ".xls,.xlsx" })
        <button id="submitButton" type="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.File)
    </div>
    <div>
        <h4>@ViewBag.MessageError</h4>
    </div>
}



<!-- plugin js -->
<script src="assets/js/vendor/dropzone.min.js"></script>
<!-- init js -->
<script src="assets/js/ui/component.fileupload.js"></script>
<!-- Custom js -->
<script src="~/Assets/js/custom/import.js"></script>
