
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Import Diploma</h2>
<h4>@ViewBag.Result</h4>
@*@using (Html.BeginForm("ImportDiploma", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group mb-3">
        <label for="example-fileinput">Certificate file</label>
        @Html.TextBoxFor(model => model.File, new { type = "file", accept = ".xls,.xlsx" })
        <button id="submitButton" type="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.File)
    </div>
    <div>
        <h4>@ViewBag.MessageError</h4>
    </div>
}*@

