
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}
<link href="~/assets/css/custom/adminHome.css"
      rel="stylesheet"
      type="text/css" />

<div class="d-flex flex-wrap justify-content-center" style="padding: 0 1.5rem">
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Account</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">

        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Certificate</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="/Admin/ImportExcel">Import certificate (Thêm chứng chỉ)</a></p>
            <p><a href="/Admin/ImportDiploma">Import diploma (Thêm bằng tốt nghiệp) (Dang lam)</a></p>
            <p><a href="#">Statistics (Thống kê số liệu chứng chỉ) (Chua lam)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Integrity</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <a href="#">Check integrity (Kiểm tra integrity) (Dang lam)</a>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Academic Service</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="/Admin/ListAcademicService">Manage Account (Danh sách tài khoản)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Log</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="#">View log (Xem nhật ký owner) (Chua lam)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3 invisible">
    </div>
</div>

