@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string currentRole = Session["RoleName"].ToString();
}
@using eCert.Utilities
<link href="~/assets/css/custom/adminHome.css"
      rel="stylesheet"
      type="text/css" />

<div class="row">
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Certificate</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="/Admin/ImportExcel">Import certificate (Thêm chứng chỉ)</a></p>
                    <p><a href="/Admin/ImportDiploma">Import diploma (Thêm bằng tốt nghiệp) (Dang lam)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Academic Service</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="/Admin/ListAcademicService">Manage Academic Service Account (Danh sách tài khoản)</a></p>
                    <p style="color: white">Manage User (Quản lý người dùng)</p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Integrity</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p> <a href="#">Check integrity (Kiểm tra integrity) (Dang lam)</a></p>
                    <p style="color: white">Manage User (Quản lý người dùng)</p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Log</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">View log (Xem nhật ký owner) (Chua lam)</a></p>
                    <p style="color: white">Manage User (Quản lý người dùng)</p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
</div>
<!-- end row -->
