
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Overview";
}
<link href="~/assets/css/custom/adminHome.css"
      rel="stylesheet"
      type="text/css" />

<div class="d-flex flex-wrap" style="padding: 0 1.5rem">
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Account</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="#">Generate account (Tạo tài khoản mới)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Certificate</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="#">Import certificate (Thêm chứng chỉ)</a></p>
            <p><a href="#">Edit certificate (Chỉnh sửa chứng chỉ có sẵn)</a></p>
            <p><a href="#">Statistics (Thống kê số liệu chứng chỉ)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Integrity</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <a href="#">Check integrity (Kiểm tra integrity)</a>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">DVSV</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="#">Generate account (Tạo tài khoản mới)</a></p>
            <p><a href="#">Manage DVSV's account (Quản lý tài khoản dịch vụ sinh viên)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Log</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="#">View log (Xem nhật ký owner)</a></p>
        </div>
    </div>
</div>

