<script src="~/assets/js/custom/createAccountAcademicService.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Manage Academic Service</h2>
<div class="d-flex justify-content-between my-3">
    <div class="add-cert">
        <a href="/Admin/CreateAccountAcademicService" class="btn btn-primary">
            Add academic service
        </a>
    </div>
    <!--Search-->
    <div class="app-search dropdown">
        <form>
            <div class="input-group">
                <input type="text"
                       class="form-control dropdown-toggle"
                       placeholder="Search..."
                       id="top-search" />
                <span class="mdi mdi-magnify search-icon"></span>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@Html.Partial("LoadListOfAcademicService")

@Html.Partial("_ConfirmDialog")


