<h2>List Transcript</h2>

<table class="table table-centered mb-0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Semester</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Mark</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Spring 2018</td>
            <td>ENT503</td>
            <td>Summit 2</td>
            <td>7.2</td>
            <!-- Action-->
            <td>
                <button type="button" class="btn btn-primary btn-sm">Generate</button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Spring 2018</td>
            <td>ENT503</td>
            <td>Summit 2</td>
            <td>7.2</td>
            <!-- Action-->
            <td>
                <button type="button" class="btn btn-primary btn-sm">Generate</button>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>Spring 2018</td>
            <td>ENT503</td>
            <td>Summit 2</td>
            <td>7.2</td>
            <!-- Action-->
            <td>
                <button type="button" class="btn btn-primary btn-sm">Generate</button>
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td>Spring 2018</td>
            <td>ENT503</td>
            <td>Summit 2</td>
            <td>7.2</td>
            <!-- Action-->
            <td>
                <button type="button" class="btn btn-primary btn-sm">Generate</button>
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td>Spring 2018</td>
            <td>ENT503</td>
            <td>Summit 2</td>
            <td>7.2</td>
            <!-- Action-->
            <td>
                <button type="button" class="btn btn-primary btn-sm">Generate</button>
            </td>
        </tr>

    </tbody>
</table>

