@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
@using eCert.Utilities
<link href="~/assets/css/custom/adminHome.css"
      rel="stylesheet"
      type="text/css" />

<div class="d-flex flex-wrap justify-content-center" style="padding: 0 1.5rem">

        <div class="card w-45 p-3">
            <div class="item-header">
                <div class="header-title">FPT Education</div>
                <div class="icon"><i class="dripicons-experiment"></i></div>
            </div>
            <div class="item-body">
                <p><a href="/SuperAdmin/ManageEducation">Manage Education (Quản lý hệ đào tạo)</a></p>
                <p><a href="/SuperAdmin/AddSignature">Manage Signature (Quản lý chữ ký)</a></p>
            </div>
        </div>
        <div class="card w-45 p-3">
            <div class="item-header">
                <div class="header-title">User</div>
                <div class="icon"><i class="dripicons-experiment"></i></div>
            </div>
            <div class="item-body">
                <p><a href="/SuperAdmin/ManageAccount">Manage User (Quản lý người dùng)</a></p>
            </div>
        </div>
        <div class="card w-45 p-3">
            <div class="item-header">
                <div class="header-title">Certificate</div>
                <div class="icon"><i class="dripicons-experiment"></i></div>
            </div>
            <div class="item-body">
                <p><a href="/SuperAdmin/ImportCertificateSuperAdmin">Import certificate (Thêm chứng chỉ)</a></p>
                <p><a href="/SuperAdmin/ImportDiplomaSuperAdmin">Import diploma (Thêm bằng tốt nghiệp) (Dang lam)</a></p>
                <p><a href="#">Statistics (Thống kê số liệu chứng chỉ) (Chua lam)</a></p>
            </div>
        </div>
    




    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Integrity</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <a href="#">Check integrity (Kiểm tra integrity) (Dang lam)</a>
        </div>
    </div>
    <div class="card w-45 p-3">
        <div class="item-header">
            <div class="header-title">Log</div>
            <div class="icon"><i class="dripicons-experiment"></i></div>
        </div>
        <div class="item-body">
            <p><a href="#">View log (Xem nhật ký owner) (Chua lam)</a></p>
        </div>
    </div>
    <div class="card w-45 p-3 invisible">
    </div>
</div>

