
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/assets/css/custom/adminHome.css"
      rel="stylesheet"
      type="text/css" />

<div class="row">
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">FPT Education</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">Manage Education (Quản lý hệ đào tạo)</a></p>
                    <p><a href="#">Manage Campus (Quản lý campus)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Academic Service</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">Manage Campus (Quản lý campus)</a></p>
                    <p><a href="#">Manage Academic Service's account (Quản lý tài khoản dịch vụ sinh viên)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Certificate</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">Import certificate (Thêm chứng chỉ)</a></p>
                    <p><a href="#">Edit certificate (Chỉnh sửa chứng chỉ có sẵn)</a></p>
                    <p><a href="#">Statistics (Thống kê số liệu chứng chỉ)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Admin</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">Generate account (Tạo tài khoản mới)</a></p>
                    <p><a href="#">Manage Admin's account (Quản lý tài khoản Admin)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Log</h5>

                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">View log (Xem nhật ký Owner)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    <div class="col-md-6 mt-2">
        <!-- Portlet card -->
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="card-widgets">
                    <div class="icon"><i class="dripicons-experiment"></i></div>
                </div>
                <h5 class="card-title mb-0">Integrity</h5>
                 
                <div id="cardCollpase1" class="collapse pt-3 show pl-3">
                    <p><a href="#">Check integrity (Kiểm tra integrity)</a></p>
                </div>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->

</div>
<!-- end row -->


