
@{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--Jquery-->
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<!--Custom js-->
<script src="~/Assets/js/custom/manageSignatory.js"></script>

<div class="page-title-box">
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">SuperAdmin</a>
            </li>
            <li class="breadcrumb-item active">Manage Signatory</li>
        </ol>
    </div>
    <h4 class="page-title">Manage Signatory</h4>
</div>

<div class="card">
    <div class="tab-pane show active card-body" id="input-types-preview">
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="">
                        <div class="form-group">
                            <label for="simpleinput">Full Name</label>
                            <input type="text" id="simpleinput" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Education System</label>
                            <select class="form-control" id="edusystem">
                                <option selected disabled>Select Education System</option>
                            </select>
                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-lg-6">
                    <div class="">
                        <div class="form-group">
                            <label for="simpleinput">Position</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="simpleinput" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Upload Signature</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" accept=".jpg, .png" />
                                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <input type="submit" class="btn btn-primary" value="Create Signatory" />
        </form>
        <!-- end row-->
    </div> <!-- end preview-->
</div>

