<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
<!--Custom js-->
<script src="~/assets/js/custom/manageAccount.js"></script>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="card col-12">
            <div class="card-body">
                <h3 class="page-title">Manage Account</h3>
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3 mt-2">
                    <li class="nav-item">
                        <a href="#" onclick="getListAdmin(1)" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                            <span class="d-none d-md-block">Admin</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" onclick="getListOfAcaService(1)" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-account-details-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Academic service</span>
                        </a>
                    </li>
                </ul>

                <!--Content tab-->
                <div class="">
                    <div id="admin">
                        @*<div class="row col-12">
                                Search & filter
                                <div class="row col-9">
                                        <div class="form-group">
                                            <input type="text" id="example-palaceholder" class="form-control" placeholder="Search..." />
                                        </div>
                                        <div class="form-group d-flex align-items-center ml-2">
                                            <div class="font-weight-bold">Filter</div>
                                            <select class="form-control ml-1" id="filter">
                                                <option selected disabled>Choose...</option>
                                            </select>
                                        </div>
                                    </div>
                                Button
                                <button type="button" class="btn btn-danger form-group">Generate Account +</button>
                            </div>*@
                        


                    </div>
                    <div id="acaservice">
                        <!--<div class="row col-12">-->
                        <!--Search & filter-->
                        <!--<div class="row col-9">
                                <div class="form-group">
                                    <input type="text" id="example-palaceholder" class="form-control" placeholder="Search..." />
                                </div>
                                <div class="form-group d-flex align-items-center ml-2">
                                    <div class="font-weight-bold">Filter</div>
                                    <select class="form-control ml-1" id="filter">
                                        <option selected disabled>Choose...</option>
                                    </select>
                                </div>
                            </div>-->
                        <!--Button-->
                        <!--<button type="button" class="btn btn-danger form-group">Generate Account +</button>
                        </div>-->
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


