@{
    ViewBag.Title = "Manage Education";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-danger mb-3">Generate Account +</button>
        <table class="table table-striped table-centered mb-0">
            <thead>
                <tr>
                    <th>Education System Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-user">
                        Đại học FPT
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Đại học Greenwich (Việt Nam)
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Đại học Công nghệ Swinburne (Việt Nam)
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Cao đẳng FPT Polytechnic
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Viện đào tạo Quốc tế FPT (Aptech, Arena, Jetking, Coking, Skilling)
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Viện quản trị & công nghệ FSB (MBA, Short course, MSE)
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                <tr>
                    <td class="table-user">
                        Trường Phổ thông FPT (Cấp I, II, III)
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Sinh viên Quốc tế (Dài hạn, ngắn hạn)
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Phổ thông Cao đẳng FPT
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="table-user">
                        Cao đẳng Quốc tế BTEC FPT
                    </td>
                    <td class="table-action">
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

