@using eCert.Models.ViewModel
@{
    ViewBag.Title = "Manage Education";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-danger mb-3">Create Education System</button>
        <table class="table table-striped table-centered mb-0">
            <thead>
                <tr>
                    <th>Education System Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EducationSystemViewModel education in ViewBag.ListEducationSystem)
                {
                    <tr>
                        <td class="table-user">
                            @education.EducationName
                        </td>
                        <td class="table-action">
                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

