<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
<!--Custom js-->
<script src="~/Assets/js/custom/manageCampus.js"></script>
<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/share.css" />
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="row justify-content-center">
    <div class="card col-12 col-lg-6">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3 class="mb-3">Manage Campus</h3>
                <div class="">
                    <a class="btn btn-download" href="/SuperAdmin">
                        Back to Home
                    </a>
                </div>
            </div>
            <div class="btn-add">
                <a href="/SuperAdmin/AddCampus" class="btn btn-primary mb-3">Add Campus</a>
            </div>
            <div class="form-group col-lg-6 d-flex pl-0">
                <label class="control-label col-5 mt-1 pl-0">Education System: </label>
                <select class="form-control" id="EducationSystemId" name="EducationSystemId">
                    <option selected disabled>Select Education System</option>
                </select>
            </div>

            <div class="listCampus">
            </div>
        </div>
    </div>
</div>

@Html.Partial("_AlertDialog")