
@{
    Layout = "~/Views/Shared/_LayoutAcademicService.cshtml";
}

@model eCert.Models.ViewModel.ReportViewModel
@using eCert.Models.ViewModel
@using eCert.Utilities
<script src="~/assets/css/custom/detailReport.css"></script>
<style>
    .my-border {
        border-top: 1px solid black;
    }
</style>



<div class="container-fluid">

    <div class="content">
        <div class="title">
            <h4>Detail Report</h4>
        </div>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded">
        <!-- REPORT TITLE-->
        <div class="row">
            <div class="col-12">
                <strong>Missing Issue Date</strong>
            </div>
        </div>
        <!-- REPORT CONTENT-->
        <div class="d-flex bd-highlight pt-3 mt-3 my-border">
            <div class="mr-auto bd-highlight">
                <strong>Pham Thanh Ha </strong><br> From: hapthe130576@fpt.edu.vn
            </div>
            <div class="pr-3 bd-highlight">
                Current Status: <span class="badge badge-success">Success</span>
            </div>
            <div class="bd-highlight">
                <p>March 3, 2021, 5:17</p>
            </div>
        </div>

        <div class="row p-5">
            <div class="card card-body">
                Dear Phòng Dịch Vụ Sinh Viên! </br>
                Em tên là Phạm Thanh Hà - MSSV: HE130576 </br>
                Trong chứng chỉ môn "Software Testing" (SEWT301) em nhận thấy đã bị thiếu thông tin. Cụ thể chứng chỉ đã không để cập đến Issue Date như thông thường. </br>
                Vì vậy em viết Report này mong muốn phòng Dịch vụ Sinh viên xem xét và bổ sung thông tin bị thiếu của chứng chỉ cho em. Vì đây là chứng chỉ em cần để chuẩn bị cho CV nộp thực tập cho công ty Fpt Software. </br>
                Em xin cảm ơn!
            </div>
        </div>
        <!-- UPDATE STATUS-->
        <div class="d-flex bd-highlight pt-3 mt-5 my-border">
            <strong>Update Status Report</strong>

            <form class="p-3">

                <label class="pt-4">Whether this report has been processed or not?</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">Pending</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Updated</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Rejected</label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
