
@{
    Layout = "~/Views/Shared/_LayoutAcademicService.cshtml";
}

<link href="~/assets/css/custom/academicReport.css"
      rel="stylesheet"
      type="text/css" />

<div class="content">
    <div class="title">
        <h4>View Report</h4>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Report Tile</th>
                    <th>Certificate Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Create Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="userName">Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>   
                        <td>
                            <span class="badge badge-warning ">Pending</span>
                        </td>
                    <td>March 8</td>
                </tr>

                <tr>
                    <td>Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>
                    <!-- Action-->
                    <td>
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td>March 8</td>
                </tr>

                <tr>
                    <td>Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>
                    <!-- Action-->
                    <td>
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td>March 8</td>
                </tr>

                <tr>
                    <td>Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>
                    <!-- Action-->
                    <td>
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td>March 8</td>
                </tr>

                <tr>
                    <td>Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>
                    <!-- Action-->
                    <td>
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td>March 8</td>
                </tr>

                <tr>
                    <td>Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>
                    <!-- Action-->
                    <td>
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td>March 8</td>
                </tr>

                <tr>
                    <td>Hải Rio</td>
                    <td>Missing Issue Date</td>
                    <td>Software Architecture and Design</td>
                    <td>The architecture of a system describes its major components, their relationships (structures), and how they interact with each other</td>
                    <!-- Action-->
                    <td>
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td>March 8</td>
                </tr>

            </tbody>
        </table>
    </div>
    
</div>