

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--custom css-->
<link rel="stylesheet"
      type="text/css"
      href="/assets/css/custom/detailCertificate.css" />

<div class="general">
    <!--Button-->
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-download ml-2" onclick="">
            Download Certficate
        </a>

        <a href="/Certificate/DownloadPersonalCertificate?certId=" class="btn btn-download">
            Share Certificate
        </a>
    </div>
    <!--Cert Owner-->
    <div class="card-body mt-3" style="background-color: #D5EAF2">
        <div class="col-lg-5">
            <h3 class="title-cert"></h3>
            <p class="cert-description"></p>
            <div class="row no-gutters align-items-center p-2">
                <div class="col-sm-2">
                    <img src="~/assets/images/custom/cert-course@2x.png" class="card-img" style="width: 73px; height: 73px; border-radius: 50%">
                </div>
                <div class="col-sm-10">
                    <div class="card-body">
                        <p class="card-title font-20">Completed by <span class="text-uppercase font-weight-bold">Lisa Monoban</span></p>
                        <p class="card-text font-weight-bold">Date of issues: November 22nd, 2020</p>
                        <p class="card-text font-weight-bold">Expiration Date: November 22nd, 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cert info and image-->
    <div class="d-flex justify-content-between mt-5">
        <!--Cert info-->
        <div class="col-5 card p-3">
            <p class="text-uppercase title-course-info">Certificate Information</p>
            <p class="course-name">Software Quality Assurance and Testing</p>
            <table>
                <tr>
                    <td>Semester:</td>
                    <td>Fall 2019</td>
                </tr>
                <tr>
                    <td>Subject Code:</td>
                    <td>SWQ391</td>
                </tr>
                <tr>
                    <td>Mark:</td>
                    <td>7.6</td>
                </tr>
                <tr>
                    <td>Certificate Number:</td>
                    <td>5698f86185a8e2639c3cf463933cfae1</td>
                </tr>
            </table>
            <p class="text-uppercase text-provided" style="margin-top: 1.5rem">Provided By</p>
            <div class="row no-gutters align-items-center" style="background-color: #ffffff">
                <div class="col-sm-1">
                    <img src="~/assets/images/custom/fptu.jpg" class="card-img" style="width: 73px;">
                </div>
                <div class="col-sm-11">
                    <div class="card-body">
                        <h5 class="card-title">FPT University</h5>
                        <p class="card-text">Campus: Hoa Lac</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Image-->
        <div class="col-6">
            <img class="w-75" src="~/Assets/images/custom/prototype-cert.png"/>
        </div>
    </div>
</div>

