@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using eCert.Utilities
@{
    string imgLink = string.Empty;
    if (Model.CertificateContents.Count > 0)
    {
        imgLink = Model.CertificateContents.
        Where(x => x.CertificateFormat == Constants.CertificateFormat.PNG).FirstOrDefault().Content;
    }

}

@model eCert.Models.ViewModel.CertificateViewModel
<!--custom css-->
<link rel="stylesheet"
      type="text/css"
      href="/assets/css/custom/detailCertificate.css" />

<div class="general">
    <!--Button-->
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-download ml-2" href="/Certificate/DownloadFptCertificate?url=@Model.Url&type=@Constants.CertificateFormat.PNG">
            Download Certficate Image
        </a>

        <a class="btn btn-download ml-2" href="/Certificate/DownloadFptCertificate?url=@Model.Url&type=@Constants.CertificateFormat.PDF">
            Download Certficate Pdf
        </a>

    </div>
    <!--Cert Owner-->
    <div class="card-body mt-3" style="background-color: #D5EAF2">
        <div class="col-lg-5">
            <h3 class="title-cert"></h3>
            <p class="cert-description"></p>
            <div class="row no-gutters align-items-center p-2">
                <div class="col-sm-2">
                    <img src="~/assets/images/custom/certificate.png" class="card-img" style="width: 73px; height: 73px; border-radius: 50%">
                </div>
                <div class="col-sm-10">
                    <div class="card-body">
                        <p class="card-title font-20">Completed by <span class="text-uppercase font-weight-bold">@Model.FullName</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cert info and image-->
    <div class="d-flex justify-content-between mt-5">
        <!--Cert info-->
        <div class="col-5 card p-3">
            <p class="text-uppercase title-course-info">Certificate Information</p>
            <p class="course-name">@Model.CertificateName</p>
            <table>
                <tr>
                    <td>Subject Code:</td>
                    <td>@Model.SubjectCode</td>
                </tr>
                <tr>
                    <td>Certificate Number:</td>
                    <td>@Model.VerifyCode</td>
                </tr>
            </table>
            <p class="text-uppercase text-provided" style="margin-top: 1.5rem">Provided By</p>
            <div class="row no-gutters align-items-center" style="background-color: #ffffff">
                <div class="col-sm-1">
                    <img src="~/assets/images/custom/fptu.jpg" class="card-img" style="width: 73px;">
                </div>
                <div class="col-sm-11">
                    <div class="card-body">
                        <h5 class="card-title">FPT University</h5>
                        <p class="card-text">Campus: Hoa Lac</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Image-->
        <div class="col-6">
            <img class="w-75" src="~/UploadedFiles/@imgLink" class="cert_image" />
        </div>
    </div>
</div>

