@model eCert.Models.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card ">
                <!-- header -->
                <div class="card-header bg-primary">
                    <div class="card-header bg-primary">
                        <!-- LOGO HERE -->
                        <div class="">
                            <img class="image-logo" src="/assets/images/cert_logo.png" alt="" height="16" style="width: 94px; height: 39px;" />
                        </div>
                    </div>
                </div>
                <!-- body -->
                <div class="card-body">
                    <h5 class="card-title" style="padding-top: 35px; text-align:center;">Reset your account password</h5>
                    <p class="card-text text-center">
                        Please enter your personal email to get back your account information includes your username and password
                        <br />
                        Thank you!
                    </p>
                    <!-- form -->
                    @using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post, new { enctype = "multipart/form-data", @class = "p-3" }))
                    {
                        <div class="form-group">
                            <label for="email">Personal Email Address</label>
                            @Html.TextBoxFor(model => model.PersonalEmail, new { @type = "email", @class = "form-control mb-1", placeholder = "Enter your personal email here" })
                            <span class="text-danger" mt-1>@ViewBag.MessageErr</span>
                            @Html.ValidationMessageFor(m => m.PersonalEmail)
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        <!-- end form -->
                        <div class="mt-1">
                            <a href="/Authentication" class="text-secondary">Back to login page</a>
                        </div>
                        
                    }

                </div>
            </div>
        </div>
    </div>
</div>


