
@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content=""
          name="description" />
    <meta content="Coderthemes" name="author" />
    <!--custom css-->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/custom/login.css" />
    <!-- third party css -->
    <link href="/assets/css/vendor/dataTables.bootstrap4.css"
          rel="stylesheet"
          type="text/css" />
    <link href="/assets/css/vendor/responsive.bootstrap4.css"
          rel="stylesheet"
          type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/app.min.css"
          rel="stylesheet"
          type="text/css"
          id="light-style" />
    <style></style>

</head>

<div class="row">
    <!--Content-->
    <div class="col-12 col-lg-6">
        <div class="logo-fpt-edu">
            <img style="width: 100%;" src="~/Assets/images/custom/logo-fpt-edu-2.png" />
        </div>

        <div id="login-form">
            <p class="title-login">Update Password</p>
            <!--Re-enter Password-->
            <div class="form-group mt-3">
                <label class="label">New Password</label>
                <input type="password" class="form-control" />
            </div>
            <!--Re-enter Password-->
            <div class="form-group mt-3">
                <label class="label">Confirm Password</label>
                <input type="password" class="form-control" />
            </div>
            <!--Button-->
            <div class="login mt-3">
                <input type="submit" value="UPDATE PASSWORD" class="btn btn-primary btn-login w-100" />
            </div>

        </div>
    </div>
    <!--Background-->
    <div class="d-none d-lg-block col-lg-6">
        <img style="width: 100%; height: 947px" src="~/Assets/images/custom/background-login.png" />
    </div>
</div>
