@model eCert.Models.ViewModel.PersonalEmailViewModel
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card ">
                <!-- header -->
                <div class="card-header bg-primary">
                    <div class="card-header bg-primary">
                        <!-- LOGO HERE -->
                        <div class="">
                            <img class="image-logo" src="/assets/images/cert_logo.png" alt="" height="16" style="width: 94px; height: 39px;" />
                        </div>
                    </div>
                </div>
                <!-- body -->
                <div class="card-body">
                    <h5 class="card-title" style="padding-top: 35px; text-align:center;">Welcome to eCert</h5>
                    <p class="card-text text-center">
                        Before using the website, we need you to update your personal email. This is an important for us to be able to assist you quickly.
                        <br/>
                        Your personal email will be used as an account after you graduate.
                        <br/>
                        Thank you!
                    </p>
                    <!-- form -->
                    @using (Html.BeginForm("UpdatePersonalEmail", "Authentication", FormMethod.Post, new { enctype = "multipart/form-data", @class = "p-3" }))
                    {
                <div class="form-group">
                    <label for="email">Personal Email</label>
                    @Html.TextBoxFor(model => model.PersonalEmail, new { @type = "email", @class = "form-control mb-1", placeholder = "Enter your personal email here" })
                    @*@Html.ValidationMessageFor(model => model.PersonalEmail, "", new { @class = "text-danger mb-1" })*@
                <p class="text-danger mb-1">@ViewBag.MessageErr</p>
                </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        <!-- end form -->
                    }
                </div>
            </div>
        </div>
    </div>
</div>

