.w-45 {
    width: 45%;
    margin: 10px;
}

.item-body {
    padding: 1rem 1.5rem 0 1.5rem;
}

.header-title {
    color: #707070;
    font: normal normal 600 18px/13px Nunito;
}

.item-body > p {
    font: normal normal normal 15px/13px Nunito;
}

.item-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    border: solid 1px;
    border-color: #3498DB;
    padding: 7px 10px;
    border-radius: 50%;
}

    .icon > i {
        color: #56D9FE;
    }
