.btn-share {
    background-color: #0062CC;
}

.general {
    padding: 20px 40px;
    overflow-y: hidden;
}

.title-cert {
    color: #174A84;
}

.btn-download {
    border-color: #0062CC;
    color: #0062CC;
}

.cert-description {
    color: #707070;
}

.btn-edit {
    border-color: #007BFF;
    color: #007BFF;
}

.btn-delete {
    border-color: #DC3545;
    color: #DC3545;
}

.cert_image{
    width: 100%;
}

.title-course-info {
    font: normal normal 600 14px/13px Nunito;
    color: #707070;
}

.course-name {
    font: normal normal normal 25px/22px Nunito;
    color: #174A84;
    padding: 1rem 0;
}

td {
    font: normal normal normal 13px/13px Nunito;
    letter-spacing: 0px;
    color: #707070;
    text-transform: capitalize;
}

.text-provided {
    font: normal normal 600 18px/20px Nunito;
    color: #001737;
}