.btn-delete {
    color: #A8C4E5;
}

.text-file {
    margin-left: 5px;
    color: #394761;
}

.btn-save {
    background-color: #007BFF;
    color: #ffffff;
}
.btn-x{
    bottom: 30px;
    left: 32px;
}