.status {
    padding: 5px;
}
.pending {
    color: #313a46;
    background-color: #ffbc00;
}

.updated {
    color: #fff;
    background-color: #0acf97;
}

.rejected {
    color: #fff;
    background-color: #fa5c7c;
}
.cursor-pointer {
    cursor: pointer;
}