.btn-download {
    border-color: #0062CC;
    color: #0062CC;
}

.btn-download:hover {
        border-color: #0062CC;
        color: #0062CC;
}
.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.btn-active {
    color: #fff;
    background-color: lightseagreen;
    border-color: lightseagreen;
}
    .btn-active:hover {
        color: #fff;
        background-color: lightseagreen;
        border-color: lightseagreen;
    }

    .width_90{
        width: 100px;
    }
    .text-green{
        color: green;
    }