.btn-download {
    border-color: #0062CC;
    color: #0062CC;
}

.btn-download:hover {
        border-color: #0062CC;
        color: #0062CC;
}
.form-group.required .control-label:after {
    content: "*";
    color: red;
}