

@model eCert.Models.ViewModel.CertificateViewModel
@using eCert.Utilities

@{ 
    string imgLink = string.Empty;
    if (Model.CertificateContents.Count > 0)
    {
        imgLink = Model.CertificateContents.
        Where(x => x.CertificateFormat == Constants.CertificateFormat.PNG).FirstOrDefault().Content;
    }

}

<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
<!-- custom js -->
<script src="~/assets/js/custom/home.js"></script>
<!-- custom js end -->
<!-- third party css -->
<link href="/assets/css/vendor/dataTables.bootstrap4.css"
      rel="stylesheet"
      type="text/css" />
<link href="/assets/css/vendor/responsive.bootstrap4.css"
      rel="stylesheet"
      type="text/css" />
<!-- third party css end -->
<!-- App css -->
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="light-style" />
<link href="/assets/css/app-dark.min.css"
      rel="stylesheet"
      type="text/css"
      id="dark-style" />
<!--custom css-->
<link rel="stylesheet"
      type="text/css"
      href="/assets/css/custom/detailCertificate.css" />



<div class="">
    <!--Title-->
    
    <div class="row">
        <!--Certificate Image-->
        <div class="col-12 d-flex justify-content-end">
            <div class="align-middle">
                <a href="/EndUser/Share?url=@Model.Url" class="btn btn-share text-white" onclick="">
                    Share
                </a>
            </div>
            <div class="align-middle">
                <a class="btn btn-download ml-2" href="/Certificate/DownloadFptCertificate?certId=@Model.CertificateId&type=@Constants.CertificateFormat.PDF">
                    Download (Pdf)
                </a>
            </div>
            <div class="align-middle">
                <a class="btn btn-download ml-2" href="/Certificate/DownloadFptCertificate?certId=@Model.CertificateId&type=@Constants.CertificateFormat.PNG">
                    Download (Image)
                </a>
            </div>
            <div class="align-middle">
                <a href="/Certificate/AddReport?certId=@Model.CertificateId" class="btn btn-danger ml-2" onclick="">
                    Report
                </a>
            </div>
           
        </div>
        <div class="row col-12 mt-3 pr-0">
            <div class="col-12 col-lg-5 mt-2 pr-0">
                <!--User Info-->
                <div class="row col-12 no-gutters align-items-center p-2" style="background-color: #D5EAF2">
                    @*<div class="col-sm-2">
                    <img src="~/assets/images/custom/cert-course@2x.png" class="card-img" style="width: 73px; height: 73px; border-radius: 50%">
                </div>*@
                    <div class="col-12">
                        <div class="card-body">
                            <p class="card-title font-20">Certificate name: <span class="text-uppercase font-weight-bold">@Model.CertificateName</span></p>
                            <p class="card-title font-16">Completed by <span class="text-uppercase font-weight-bold">@Model.FullName</span></p>
                            @*<p class="card-text font-weight-bold">November 22, 2020</p>
                            <p class="card-text font-weight-bold">Grade Achieved: </p>*@
                            <p class="font-weight-bold">PROVIDED BY</p>
                            <div class="row col-8 col-lg-12 col-xl-8 no-gutters align-items-center" style="background-color: #ffffff">
                                <div class="col-3">
                                    <img src="~/assets/images/custom/fptu.jpg" class="card-img" style="width: 73px;">
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        <h5 class="card-title">FPT University</h5>
                                        <p class="card-text">Campus: Hoa Lac</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Provided By-->
                <!--<div class="no-gutters align-items-center mt-5 p-2 col-12" style="background-color: #D5EAF2">
                    
                </div>-->
            </div>
            <div class="col-12 col-lg-7 mt-2 pr-0">
                <img src="~/UploadedFiles/@imgLink" class="cert_image" />
            </div>
        </div>



    </div>
</div>

