<link href="~/assets/css/custom/ListReport.css" rel="stylesheet" type="text/css" />

<h2>My Reports</h2>

<div class="row">

    <!-- Right Sidebar -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-centered mb-0">
                    <thead>
                        <tr>
                            <th>Certificate Name</th>
                            <th>Description</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Change Status Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Java Web</td>
                            <td>Wrong name</td>
                            <td>02/12/2020</td>
                            <td><span class="status pending">Pending</span></td>
                            <td>04/12/2020 15:38:25</td>
                        </tr>
                        <tr>
                            <td>Java Web</td>
                            <td>Wrong name</td>
                            <td>02/12/2020</td>
                            <td><span class="status updated">Updated</span></td>
                            <td>04/12/2020 15:38:25</td>
                        </tr>
                        <tr>
                            <td>Java Web</td>
                            <td>Wrong name</td>
                            <td>02/12/2020</td>
                            <td><span class="status rejected">Rejected</span></td>
                            <td>04/12/2020 15:38:25</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- end card-body -->
            <div class="clearfix"></div>
        </div> <!-- end card-box -->

    </div> <!-- end Col -->
</div>
