<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/assets/js/custom/listReport.js"></script>
<link href="~/assets/css/custom/ListReport.css" rel="stylesheet" type="text/css" />
<h2>My Reports</h2>

<div class="row">

    <!-- Right Sidebar -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="listReport">
                </div>
            </div>
            <!-- end card-body -->
            <div class="clearfix"></div>
        </div> <!-- end card-box -->

    </div> <!-- end Col -->
</div>
