@model eCert.Models.ViewModel.ImportExcel


<h2>ImportExcel</h2>

<h4>@ViewBag.Result</h4>
@using (Html.BeginForm("ImportExcel", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group mb-3">
    <label for="example-fileinput">Certificate file</label>
    @Html.TextBoxFor(model => model.File, new { type = "file", accept = ".xls,.xlsx" })
    <button id="submitButton" type="submit">Submit</button>
    @Html.ValidationMessageFor(model => model.File)
</div>
}